<ion-view view-title="Clegane" cache-view="false" hide-back-button="true" ng-controller="PageCtrl as page" ng-init="page.get('/'+page.param.type+'/'+page.param.query+'/'+page.param.page);">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content class="discover-page">

    <div class="results-heading">
      <div class="row" ng-if="page.data.type !== 'peoples'">
        <div class="col-sm-6">
          <h4>
            {{page.data.data.total_results}} Results - {{page.data.data.page}}/<span ng-if="page.data.data.total_pages <= 1000">{{page.data.data.total_pages}}</span><span ng-if="page.data.data.total_pages > 1000">1000</span>
          </h4>
          <h1>{{page.param.query|beautify}} <span ng-if="page.data.type === 'tvs'">TV Shows</span><span ng-if="page.data.type !== 'tvs'">{{page.data.type}}</span></h1>
        </div>
        <div class="col-sm-6">
          <div class="btn-group pull-right">
            <a ng-repeat="(key, list) in page.data.lists" href="/{{page.data.type}}/{{list}}/1" class="btn btn-default" ng-class="list === page.param.query ? 'active' : ''">{{list|beautify}}</a>
          </div>
      </div>
    </div>
    <div ng-if="page.data.type === 'peoples'">
      <h4>
        {{page.data.data.total_results}} Results - {{page.data.data.page}}/<span ng-if="page.data.data.total_pages <= 1000">{{page.data.data.total_pages}}</span><span ng-if="page.data.data.total_pages > 1000">1000</span>
      </h4>
      <h1>{{page.param.query|beautify}} {{page.data.type}}</h1>
    </div>
  </div>

  <div class="results-wrapper">
    <div class="row" ng-if="!page.isMobile" ng-repeat="(rowkey, row) in page.data.data.results.length | numberArray">
      <div class="col-sm-2-4" ng-repeat="(key, result) in page.data.data.results | rowArray:rowkey">
        <clegane-thumb
          ng-if="page.data.type === 'movies'"
          from="discover"
          id="{{result.id}}"
          img="{{result.poster_path}}"
          title="{{result.title}}"
          time="{{result.release_date|year}}"
          type="movie"></clegane-thumb>
        <clegane-thumb
          ng-if="page.data.type === 'tvs'"
          from="discover"
          id="{{result.id}}"
          img="{{result.poster_path}}"
          title="{{result.name}}"
          time="{{result.first_air_date|year}}"
          type="tv"></clegane-thumb>
        <clegane-thumb
          ng-if="page.data.type === 'peoples'"
          from="discover"
          id="{{result.id}}"
          img="{{result.profile_path}}"
          title="{{result.name}}"
          type="people"></clegane-thumb>
      </div>
    </div>
    <div class="list" ng-if="page.isMobile">
      <clegane-item
        ng-if="page.data.type === 'movies'"
        ng-repeat="(key, result) in page.data.data.results"
        from="discover"
        id="{{result.id}}"
        img="{{result.poster_path}}"
        title="{{result.title}}"
        time="{{result.release_date|year}}"
        type="movie"></clegane-item>
      <clegane-item
        ng-if="page.data.type === 'tvs'"
        ng-repeat="(key, result) in page.data.data.results"
        from="discover"
        id="{{result.id}}"
        img="{{result.poster_path}}"
        title="{{result.name}}"
        time="{{result.first_air_date|year}}"
        type="tv"></clegane-item>
      <clegane-item
        ng-if="page.data.type === 'peoples'"
        ng-repeat="(key, result) in page.data.data.results"
        from="discover"
        id="{{result.id}}"
        img="{{result.profile_path}}"
        title="{{result.name}}"
        type="people"></clegane-item>
        <div class="spacer spacer-xl"></div>
    </div>
  </div>


  <ng-include ng-if="!page.isMobile" src="'templates/components/molecules/pagination.html'"></ng-include>

  </ion-content>

  <ng-include ng-if="page.isMobile" src="'templates/components/molecules/pager.html'"></ng-include>
</ion-view>
