<ion-view view-title="Clegane" cache-view="false" hide-back-button="true">
  <ion-content ng-controller="PageCtrl as page" ng-init="page.get('/list/'+page.param.id);">

    <div ng-controller="GridCtrl as grid" ng-init="grid.record('{{user.key}}', 'ascending');">

      <div class="results-heading">
        <div class="row">
          <div class="col-sm-5">
            <h4>
              {{page.data.items.length}} Items
            </h4>
            <h1>{{page.data.name}}</h1>
          </div>
          <div class="col-sm-7">
            <div class="btn-group pull-right dropdown-xs-half" uib-dropdown>
              <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                Sort <span class="caret"></span>
              </button>
              <ul ng-cloak class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-class="grid.sortActive === 'name' ? 'active' : ''"><a href="#" ng-click="grid.sort('name');">Sort by name</a></li>
                <li role="menuitem" ng-class="grid.sortActive === 'date' ? 'active' : ''"><a href="#" ng-click="grid.sort('date');">Sort by added date</a></li>
              </ul>
            </div>

            <div class="btn-group pull-right dropdown-xs-half" uib-dropdown>
              <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                Filter <span class="caret"></span>
              </button>
              <ul ng-cloak class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-class="grid.filterActive === '*' || grid.filterActive === '' ? 'active' : ''"><a href="#" ng-click="grid.filter('*');">All</a></li>
                <li role="menuitem" ng-class="grid.filterActive === '.movie' ? 'active' : ''"><a href="#" ng-click="grid.filter('.movie');">Movies</a></li>
                <li role="menuitem" ng-class="grid.filterActive === '.tv' ? 'active' : ''"><a href="#" ng-click="grid.filter('.tv');">TVs</a></li>
                <li role="menuitem" ng-class="grid.filterActive === '.people' ? 'active' : ''"><a href="#" ng-click="grid.filter('.people');">Peoples</a></li>
              </ul>
            </div>

            <div class="btn-group pull-right">
              <span class="btn btn-default" ng-class="grid.filterActive === '*' || grid.filterActive === '' ? 'active' : ''" ng-click="grid.filter('*');">All</span>
              <span class="btn btn-default" ng-class="grid.filterActive === '.not-watched' ? 'active' : ''" ng-click="grid.filter('.not-watched');">To watch</span>
              <span class="btn btn-default" ng-class="grid.filterActive === '.watched' ? 'active' : ''" ng-click="grid.filter('.watched');">Watched</span>
            </div>
          </div>
        </div>
      </div>

      <div class="results-wrapper">
        <div class="row grid">
          <div ng-repeat="(key, item) in page.data.items | orderBy:'add_on':true" class="col-sm-2-4 grid-item {{item.type}}" ng-class="item.data.watched || items.data.episodes.length ? 'watched' : 'not-watched'" data-name="{{item.data.name}}" data-date="{{item.add_on}}">
            <clegane-thumb
              id="{{item.data.tmdb_id}}"
              from="list"
              img="{{item.data.picture}}"
              title="{{item.data.name}}"
              time="{{item.add_on|day}}"
              type="{{item.type}}"></clegane-thumb>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
