<ion-side-menus enable-menu-with-back-views="false" ng-controller="MainCtrl as app">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="dark" expose-aside-when="{{isMenu}}">
    <ion-content>
      <header class="text-center hidden-sm hidden-xs">
        <a href="/" class="brand">
          <i class="cleganicon cleganicon-clegane cleganicon-4x"></i>
        </a>
      </header>
      <div class="search-wrapper hidden-sm hidden-xs" ng-controller="SearchCtrl as search">
        <ng-include src="'templates/components/molecules/search.html'"></ng-include>
      </div>
      <ion-list>
        <a class="item item-icon-left" href="#" ui-sref="app.dashboard">
          <i class="icon cleganicon cleganicon-gauge"></i>Dashboard
        </a>
        <div class="item item-divider">Discover</div>
        <a class="item item-icon-left" href="/movies/popular/1">
          <i class="icon cleganicon cleganicon-film"></i>Movies
        </a>
        <a class="item item-icon-left" href="/tvs/popular/1">
          <i class="icon cleganicon cleganicon-television"></i>TV Shows
        </a>
        <a class="item item-icon-left" href="/peoples/popular/1">
          <i class="icon cleganicon cleganicon-oscar"></i>People
        </a>
        <div class="item item-divider">Personnal</div>
        <a class="item item-icon-left" href="/watched">
          <i class="icon cleganicon cleganicon-eye"></i>Watched
        </a>
        <a class="item item-icon-left" href="/lists">
          <i class="icon cleganicon cleganicon-star"></i>My lists
        </a>
        <a class="item item-icon-left" href="/settings">
          <i class="icon cleganicon cleganicon-cog"></i>Settings
        </a>
        <a class="item item-icon-left" href="/logout">
          <i class="icon cleganicon cleganicon-out"></i>Logout
        </a>
        <div class="item item-divider">Clegane</div>
        <a class="item item-icon-left" href="/about">
          <i class="icon cleganicon cleganicon-info"></i>About
        </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
