<ion-view view-title="Clegane" cache-view="false" hide-back-button="true">
  <ion-content ng-controller="PageCtrl as page" ng-init="page.get('/movie/'+page.param.id);">
    <div class="cover">
      <div class="cover-image">
        <clegane-pic
          src="{{page.data.movie.backdrop_path}}"
          size="5"
          ratio="2.38"
          gravity="center"
          class="img-responsive img-full"
          alt="{{page.data.movie.title}}"></clegane-pic>
      </div>
      <div class="cover-content">
        <div class="content-container">
          <div class="row">
            <div class="col-sm-3">
              <div class="poster-wrapper">
                <clegane-pic
                  src="{{page.data.movie.poster_path}}"
                  size="1"
                  ratio="0.66"
                  gravity="none"
                  class="img-responsive hidden-xs"
                  alt="{{page.data.movie.title}}"></clegane-pic>

                <ul class="list-unstyled">
                  <li ng-if="page.data.movie.release_date">
                    <h4>Release</h4>
                    {{page.data.movie.release_date}}
                  </li>
                  <li ng-if="page.data.movie.production_countries">
                    <h4>Countries</h4>
                    <span ng-repeat="(key, country) in page.data.movie.production_countries">{{country.name}}<span ng-if="!$last">, </span></span>
                  </li>
                  <li ng-if="page.data.keywords">
                    <h4>Keywords</h4>
                    <span ng-repeat="(key, keyword) in page.data.keywords">
                      <a href="/tag/{{keyword.id}}/1">{{keyword.name}}</a><span ng-if="!$last">, </span>
                    </span>
                  </li>
                  <li ng-if="page.data.movie.imdb_id">
                    <h4>Links</h4>
                    <a href="http://www.imdb.com/title/{{page.data.movie.imdb_id}}" target="_blank">IMDB</a>
                  </li>
                </ul>

              </div>
            </div>
            <div class="col-sm-9">
              <h3 ng-controller="WatchCtrl as watched" ng-init="watched.init()">
                <button ng-cloak class="btn-link btn-watch"
                        ng-click='watched.movie(
                        page.data.movie.id,
                        page.data.movie.title,
                        page.data.movie.poster_path,
                        page.data.movie.imdb_id)'>
                  <i ng-hide="watched.watched" class="cleganicon cleganicon-unwatched"></i>
                  <i ng-show="watched.watched" class="cleganicon cleganicon-eye"></i>
                </button>
                Movie
              </h3>
              <h1>
                {{page.data.movie.title}}
                <small ng-if="page.data.movie.title != page.data.movie.original_title">({{page.data.movie.original_title}})</small>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">

          <div class="whity">
            <div ng-controller="ModalCtrl as modal">
              <button class="btn btn-primary btn-corner" ng-click="modal.open()">
                <i class="cleganicon cleganicon-add"></i>
              </button>
            </div>
            <p class="lead" ng-if="page.data.movie.tagline">“{{page.data.movie.tagline}}”</p>

            <p>
              <span ng-repeat="(key, genre) in page.data.movie.genres">
                <a href="/genre/{{genre.id}}/1">
                  {{genre.name}}
                </a><span ng-if="!$last"> | </span>
              </span>
            </p>

            <p>{{page.data.movie.overview}}</p>
          </div>

          <div ng-if="page.data.videos" class="embed-responsive embed-responsive-16by9">
            <div ng-repeat="(key, video) in page.data.videos | limitTo:1">
              <div ng-if="video.site === 'YouTube'">
              <clegane-video code="video.key"></clegane-video>
              </div>
            </div>
          </div>

          <div class="whity">
            <h2>Cast</h2>
            <ng-include src="'templates/components/organisms/casting.html'"></ng-include>
          </div>
        </div>
      </div>

      <div class="spacer"></div>

      <div ng-if="page.data.similar.length > 0">
        <h2 class="text-inverse">Similar movies</h2>
        <div class="spacer spacer-xs"></div>
        <div class="row">
          <div ng-repeat="(key, movie) in page.data.similar | limitTo:5" class="col-sm-2-4">
            <a class="thumb" href="/movie/{{content.id}}">
              <clegane-pic
                src="{{movie.poster_path}}"
                size="1"
                ratio="0.66"
                gravity="center"
                class="img-responsive"
                alt="{{movie.title}}"></clegane-pic>
              <span class="thumb-info">
                <h5>{{movie.media_type}}</h5>
                <h3>{{movie.title}}</h3>
              </span>
            </a>
            <div class="spacer spacer-xs visible-xs"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="spacer"></div>

  </ion-content>
</ion-view>
