<ion-view view-title="Clegane" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content ng-controller="PageCtrl as page" ng-init="page.get('/people/'+page.param.id);">

    <div ng-if="page.data.images[0]" class="cover">
      <div class="cover-image">
        <clegane-pic
          src="{{page.data.images[0].file_path}}"
          size="5"
          ratio="2.38"
          gravity="center"
          class="img-responsive img-full"
          alt="{{page.data.people.name}}"></clegane-pic>
      </div>
      <div ng-if="page.data.people.profile_path" class="cover-avatar">
        <clegane-pic
          src="{{page.data.people.profile_path}}"
          size="1"
          ratio="1"
          gravity="center"
          class="img-responsive"
          alt="{{page.data.people.name}}"></clegane-pic>
      </div>
    </div>

    <div class="content-container content-container-people">
      <div class="whity" ng-if="page.data.people.name">

        <div class="spacer"></div>
        <div ng-if="!page.data.images[0] && page.data.people.profile_path" class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <clegane-pic
                  src="{{page.data.people.profile_path}}"
                  size="1"
                  ratio="1"
                  gravity="center"
                  class="img-responsive avatar"
                  alt="{{page.data.people.name}}"></clegane-pic>
              </div>
            </div>
          </div>
          <div class="spacer spacer-sm"></div>
        </div>

        <div class="spacer spacer-xl visible-xs" ng-if="page.data.people.profile_path"></div>

        <div class="text-center">
          <h1>{{page.data.people.name}}</h1>
          <p>
            {{page.data.people.birthday}}<span ng-if="page.data.people.imdb_id"> - <a href="http://www.imdb.com/name/{{page.data.people.imdb_id}}" target="_blank">IMDB</a></span>
            - <a href="https://www.themoviedb.org/person/{{page.param.id}}" target="_blank">
              <small><small><i class="cleganicon cleganicon-edit"></i></small></small> Edit
            </a>
          </p>
        </div>
        <div class="spacer spacer-sm"></div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <p>{{page.data.people.biography}}</p>
            <div class="spacer"></div>

            <div ng-controller="PeopleCtrl as people" ng-init="people.getData()">
              <div class="gallery gallery-people" itemscope itemtype="http://schema.org/ImageGallery">
                <div class="gallery row">
                  <figure class="col-xs-4 col-sm-3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" ng-repeat="(key, image) in people.gallery | orderBy:vote | limitTo:12">
                    <a href="https://image.tmdb.org/t/p/original{{image.file_path}}" itemprop="contentUrl" ng-click="people.openGallery(key); $event.preventDefault();">
                      <clegane-pic
                        src="{{image.file_path}}"
                        size="1"
                        ratio="0.66"
                        gravity="none"
                        class="img-responsive"></clegane-pic>
                    </a>
                    <div class="spacer spacer-xs"></div>
                  </figure>
                </div>
              </div>
            </div>

            <div class="spacer"></div>
          </div>
        </div>

        <div ng-controller="ModalCtrl as modal" ng-show="page.data.people.name">
          <button class="btn btn-primary btn-corner" ng-click="modal.open()">
            <i class="cleganicon cleganicon-add"></i>
          </button>
        </div>

        <h2>Known For</h2>
        <div ng-controller="PeopleCtrl as people">
          <div class="row">
            <div class="col-sm-2-4" ng-repeat="(key, media) in page.data.credits.cast | orderBy:'year':true | filter:people.notFuture | filter:people.hasPoster | limitTo:5">
              <clegane-thumb
                ng-if="media.media_type === 'movie'"
                id="{{media.id}}"
                img="{{media.poster_path}}"
                title="{{media.title}}"
                type="{{media.media_type}}"></clegane-thumb>
              <clegane-thumb
                ng-if="media.media_type === 'tv'"
                id="{{media.id}}"
                img="{{media.poster_path}}"
                title="{{media.name}}"
                type="{{media.media_type}}"></clegane-thumb>
              <div class="spacer spacer-xs visible-xs"></div>
            </div>
          </div>
          <br>
          <div>
            <div id="cast-wrapper" class="cast-wrapper" ng-cloak>
              <h3 ng-if="page.data.credits.cast.length > 4">Acting</h3>
              <table ng-if="page.data.credits.cast.length > 4" class="table table-striped table-hover">
                <tbody>
                  <tr ng-repeat="(key, media) in page.data.credits.cast | orderBy:'year':true">
                  <td><span ng-if="media.year === 0">-</span><span ng-if="media.year !== 0">{{media.year}}</span></td>
                    <td><a href="/{{media.media_type}}/{{media.id}}">{{media.heading}}</a> <span class="label label-default pull-right">{{media.media_type}}</span></td>
                    <td>
                      <span ng-if="media.character">{{media.character}}</span>
                      <em ng-if="!media.character">-</em>
                    </td>
                  </tr>
                </tbody>
              </table>

              <h3 ng-if="page.data.credits.crew.length > 0">Crew</h3>
              <table ng-if="page.data.credits.crew.length > 0" class="table table-striped table-hover">
                <tbody>
                  <tr ng-repeat="(key, media) in page.data.credits.crew | orderBy:'year':true">
                  <td><span ng-if="media.year === 0">-</span><span ng-if="media.year !== 0">{{media.year}}</span></td>
                    <td><a href="/{{media.media_type}}/{{media.id}}">{{media.heading}}</a> <span class="label label-default pull-right">{{media.media_type}}</span></td>
                    <td>
                      <span ng-if="media.job">{{media.job}}</span>
                      <em ng-if="!media.job">-</em>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="spacer"></div>

    <ng-include src="'templates/components/organisms/photoswipe-wrapper.html'"></ng-include>

  </ion-content>
</ion-view>
