<ion-view view-title="Clegane" cache-view="false" hide-back-button="true">
  <ion-content ng-controller="PageCtrl as page" ng-init="page.seasons(page.param.id);">

    <div class="list" ng-repeat="(seasonkey, season) in page.data.seasons | orderBy:'season_number':false" ng-if="season.season_number !== 0 && season.episodes.length > 0 && season.season_number == page.param.season_number">

      <a
        ng-controller="WatchCtrl as watched"
        ng-repeat="(key, episode) in season.episodes"
        class="item item-icon-right item-mobile item-checkbox"
        href="/episode/{{episode.id}}">
        <label class="checkbox">
          <input
            type="checkbox"
            ng-model="watched.episode[$index]"
            ng-click="watched.episode(
              page.data.tv.id,
              page.data.tv.name,
              page.data.tv.poster_path,
              season.season_number,
              episode.episode_number,
              episode.id,
              episode.name,
              page.data.ids.imdb_id
            ); $event.stopPropagation();"
            ng-checked="episode.watched">
        </label>
        <h2>Episode {{episode.episode_number}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>

  </ion-content>
</ion-view>
