<ion-view view-title="Clegane" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="content-container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3" ng-controller="UserCtrl as user" ng-init="user.informations()">
          <div class="spacer"></div>
          <h1 class="text-inverse">Settings</h1>

          <form ng-submit="user.update();">
            <label class="item item-input item-floating-label">
              <span class="input-label text-inverse">New Email</span>
              <input type="email" name="email" ng-model="user.data.email" placeholder="New Email"/>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label text-inverse">New Email confirmation</span>
              <input type="email" name="emailcheck" ng-model="user.emailcheck" placeholder="New Email confirmation"/>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label text-inverse">New Password</span>
              <input type="password" name="password" ng-model="user.password" placeholder="New Password"/>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label text-inverse">New Password confirmation</span>
              <input type="password" name="passwordcheck" ng-model="user.passwordcheck" placeholder="New Password confirmation"/>
            </label>
            <div class="spacer spacer-sm"></div>
            <div class="form-group">
              <input type="submit" value="Update" class="btn btn-primary"/>
            </div>
          </form>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
