@charset "UTF-8";

.list .grid-item {
  width: 100% !important;
}

.list .item {
  border-left: none;
  border-bottom: none;
  border-right: none;
  &:active, &:hover {
    background: $black;
  }
  * {
  }
  p, p * {
    color: $silver-chalice;
  }
  img {max-height: 100%;}
  .cleganicon {
    top: 2px;
    font-size: 0.8em;
  }
  &.item-mobile {
    color: $silver-chalice;
    * {color: $mercury;}
    .cleganicon {position: relative;}
  }
  &.item-mobile.item-checkbox {
    border-bottom: 1px solid $scorpion;
    .checkbox {
      width: 42px;
      right: auto;
      left: 8px;
      height: 42px;
      input[type="checkbox"] {margin-left: 0;}
    }
  }
}

.item-thumbnail-left {
  padding-left: 75px;
}
