@charset "UTF-8";

.modal-dialog {
  @media screen and (max-width: $screen-xs-max) {
    margin: 0;
  }
}

.modal-body {
  h2 {margin-top: 0;}
  @media screen and (max-width: $screen-xs-max) {
    padding: 40px 20px;
  }
}


.modal-content {
  background: $gallery;
  color: $cod-gray;
  padding: 40px;
  overflow-y: auto;
  .btn-corner {
    position: fixed;
    top: -40px;
    right: -40px;
  }
  .item {
    padding-top: 8px;
    padding-bottom: 8px;
    color: $cod-gray;
  }
  @media screen and (max-width: $screen-xs-max) {
    padding: 20px;
    .btn-corner {
      top: -20px;
      right: -20px;
    }
  }
}
