.pagination {
  border: 1px solid $supernova;
  margin: $grid-gutter-width * 4 0;
  font-weight: 700;
  a {
    border: none !important;
    line-height: 2em !important;
    transition: background 0.3s ease-out,
                color 0.3s ease-in;
  }
  @media screen and (max-width: $screen-xs-max) {
    li {display: none;}
    li.pagination-controller,
    li.active {
      display: inline;
    }
    > li > a {
      padding: 7.5px 16px;
    }
  }
}
