@charset "UTF-8";

.pager.tabs {
  height: 35px;
}

.tab-indicator span {
  display: inline-block;
  font-size: 2em;
  padding-top: 8px;
}

.tab-item {
  color: $white;
  opacity: 1;
  &.disabled {
    opacity: 0.6;
  }
}
