.search-wrapper {
  background: $mercury;
  padding: 10px 0;
  @media screen and (max-width: $screen-sm-max) {
    padding: 14px 0;
  }
}

.search-form {
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    height: 45px;
    width: calc(100% - 45px);
    padding: 7.5px 12px;
    box-sizing: border-box;
    font-size: $font-size-small;
    font-style: normal;
    color: $cod-gray;
    float: left;
  }
  .btn {
    width: 45px;
    height: 45px;
    padding: 0;
  }
}

.menu-left .dropdown-menu {
  padding: 0;
  margin-top: 10px;
  width: $sidebar-width;
  box-shadow: none;
  background: $gallery;
  border: none;
  min-height: 50vh;
  li > a {
    white-space: normal;
    font-size: 15px;
  }
  .active > a,
  .active > a:hover,
  .active > a:focus {
    background: $supernova;
    color: $cod-gray;
  }
}
