.cast-thumb {
  line-height: 1.2em;
  h4 {margin-bottom: 0;}
  a {color: $cod-gray;}
}

.thumb {
  position: relative;
  display: block;
  img {transition: filter 0.3s ease-out}
  .placeholder + .thumb-info {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  &:hover .thumb-info,
  &:hover .placeholder + .thumb-info {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
  &:hover img {filter: grayscale(100%);}
}

.thumb-info {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: $white;
  padding: $grid-gutter-width*2;
  transition: opacity 0.3s ease-out;
  h1, h2, h3, h4, h5 {
    margin: 0.2em 0;
  }
}

.thumb-episode {
  img {transition: filter 0.3s ease-out}
  .thumb-info {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
}
