[ng-cloak] {
  display: none !important;
}

body.modal-open {
  overflow: visible;
}

@media screen and (min-width: $screen-sm-min) {
  .nav-bar-container {display: none;}
  .has-header {top: 0;}
}

.main-wrapper {
  display: flex;
  flex-wrap: nowrap;
  background: $gallery;
  @media screen and (max-width: $screen-sm-max) {
    display: block;
    padding-top: $mobile-header-height;
    overflow: hidden;
    &.main-wrapper-visitor {padding-top: 0;}
  }
}

.content-wrapper {
  background: $cod-gray;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  min-height: 100vh;
  @media screen and (max-width: $screen-sm-max) {
    width: 100%;
    position: relative;
    left: 0;
    transition: left 0.3s;
    .sidebar-open + & {
      left: $sidebar-width;
    }
  }
}

ion-content {
  background: $cod-gray;
}

.content-container {
  max-width: $screen-lg;
  width: 80%;
  padding: 0 $grid-gutter-width/2;
  margin: 0 auto;
  @media screen and (max-width: $screen-sm-max) {
    width: 95%;
  }
}

.row-guttered {
  @include make-row(30px);
  [class*='col-'] {
    padding: 0 15px;
  }
}

.col-sm-2-4 {
  @include make-sm-column(2.4, $grid-gutter-width);
  @media screen and (max-width: $screen-xs-max) {
    @include make-xs-column(6, $grid-gutter-width);
  }
}

.spacer {
  height: 65px;
  &.spacer-xl {height: 120px;}
  &.spacer-lg {height: 90px;}
  &.spacer-sm {height: 30px;}
  &.spacer-ssm {height: 15px;}
  &.spacer-xs {height: 10px;}
  @media only screen and (max-width: 767px) {
    height: 30px;
    &.spacer-xl {height: 50px;}
    &.spacer-lg {height: 50px;}
    &.spacer-sm {height: 20px;}
    &.spacer-xs {height: 10px;}
  }
}
