.results-heading {
  padding: $grid-gutter-width*1.5 $grid-gutter-width*3;
  border-bottom: 1px solid $scorpion;
  height: 101px;
  margin: 0 $grid-gutter-width / -2;
  h4 {
    color: $silver-chalice;
    margin: 0;
  }
  h1 {
    color: $white;
    margin: 0;
    margin-top: 2px;
    text-transform: capitalize;
  }
  @media screen and (max-width: $screen-sm-max) {
    height: auto;
    padding: 5px 10px;
    .btn-group {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-collapse: separate;
      margin: 10px 0;
      float: none !important;
      &.dropdown {
        display: block;
        &.dropdown-xs-half {
          float: left !important;
          width: 33.3333%;
          padding: 0 0 0 5px;
          &:first-child {width: 66.6666%;padding: 0 5px 0 0;}
        }
        .btn {
          display: block;
          width: 100%;
        }
        .dropdown-menu {width: 100%;}
      }
      .btn {
        padding: 5px 10px;
        line-height: 1.5;
        border-radius: 0px;
        font-size: 14px;
        float: none;
        display: table-cell;
        width: 1%;
      }
    }
  }
}

.results-wrapper {
  .thumb {
    margin: $grid-gutter-width/2 0;
  }
  @media screen and (max-width: $screen-xs-max) {
    .row:after, .row:before {display: none;}
  }
}
