.whity {
  position: relative;
  background: $white;
  padding: $grid-gutter-width*1.5;
  margin-left: $grid-gutter-width*1.5;
  & + .embed-responsive {
    margin-left: $grid-gutter-width*1.5;
  }
  .dashboard & {margin-left: 0;}
  .content-container-people & {
    max-width: $screen-sm;
    margin: 0 auto;
  }
}
