.whity {
  position: relative;
  background: $white;
  padding: $grid-gutter-width*1.5;
  margin-left: $grid-gutter-width*1.5;
  & + .embed-responsive {
    margin-left: $grid-gutter-width*1.5;
  }
  .dashboard & {margin-left: 0;}
  .content-container-people & {
    max-width: $screen-sm;
    margin: 0 auto;
  }
  @media screen and (max-width: $screen-xs-max) {
    margin-left: -13px;
    margin-right: -13px;
    .content-container-people & {
      margin-left: -13px;
      margin-right: -13px;
    }
  }
}
