@charset 'UTF-8';

$base:                 18px;
$gr:                   1.61803398875;
$gutter-width:         10px;
$sidebar-width:        275px;
$mobile-header-height: 60px;

$desktop:              1200px;
$tablet:               992px;
$mobile:               767px;

$white:               #fff;
$gallery:             #ededed;
$mercury:             #e3e3e3;
$silver-chalice:      #a1a1a1;
$tundora:             #4e4e4e;
$scorpion:            #5f5f5f;
$cod-gray:            #151515;
$black:               #000;

$supernova:           #f0ce00;
$selective-yellow:    #f0ba00;
$web-orange:          #f0a600;
$tangerine:           #f09200;

$trinidad:            #f05600;

$electric-violet:     #9013fe;

$main-font:           "ratio", Helvetica Neue, Helvetica, Arial, sans-serif;
