@charset "UTF-8";

.episodes-mobile {
  background: $supernova;
  padding: 1px 0;
  > h3 {
    margin: 0;
    padding: 0.5em $grid-gutter-width*1.5;
    background: $web-orange;
  }
  .panel-body {
    background: $gallery;
  }
  a:focus {outline: none !important;}
  .panel-group {margin-bottom: 0;}
  .panel {
    border: none;
    border-bottom: 1px solid $web-orange;
  }
  .panel-title {font-size: 18px;}
  .panel-title > a {
    display: inline-block;
    width: 100%;
    &:hover, &:focus, &:active {text-decoration: none;}
  }

  .watch-toggle {
    input[type="checkbox"].clicked + .icon-wrapper .cleganicon {
      color: $black;
      &.cleganicon-unwatched {display: none;}
      &.cleganicon-eye {display: inline;}
    }
    input[type="checkbox"]:not(.clicked) + .icon-wrapper .cleganicon {
      color: $white;
      &.cleganicon-unwatched {display: inline;}
      &.cleganicon-eye {display: none;}
    }
  }
}
