@charset "UTF-8";

.mobile-header {
  height: $mobile-header-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.3s;
  background: $supernova;
  z-index: 300;
  line-height: $mobile-header-height + 10px;
  text-align: center;
  &.mobile-header-push {
    left: $sidebar-width;
  }
  .glyphicon, .cleganicon {color: $black;}
}

.navbar-toggle {
  right: auto;
  left: 10px;
  top: 0px;
  padding-top: 3px;
  position: absolute;
  float: none;
  height: 50px;
  width: 50px;
  .icon-bar {
    background: $black;
    height: 3px;
    width: 100%;
  }
  .icon-bar + .icon-bar {margin-top: 5px;}
}

.btn-search {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 50px;
  width: 50px;
  border: none;
  background: transparent;
  line-height: 50px;
}
