{% extends 'layout.html' %}

{% block content %}
<h1 class="text-center">{{ user.username }}'s dashboard</h1>

{% if user.players|length > 1 %}
<hr class="separator">
{% include "./matches/add.html" %}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <h3>
      Ranking
      <small class="pull-right">
        <form action="/api/players/reset" style="display:inline;" method="post">
          <input type="submit" value="reset" class="btn btn-link"/>
        </form>
      </small>
    </h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
          {% if player.points %}
            <tr>
              <td>{{ loop.key + 1 }}</td>
              <td><strong>{{ player.name }}</strong></td>
              <td>{{ player.points }} pts</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 col-md-8">
    <h3>Podium</h3>
    <div class="row">
      {% for player in players %}
        {% if loop.key <= 2 %}
          {% if loop.key == 0 %}
          <div class="col-sm-12 col-md-4 col-lg-5 col-lg-push-4">
          {% elseif loop.key == 1 %}
          <div class="col-sm-6 col-md-4 col-lg-4 col-lg-pull-5">
            <div class="spacer spacer-sm hidden-sm"></div>
          {% elseif loop.key == 2 %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="spacer spacer-md hidden-sm"></div>
          {% endif %}
            <div class="player-card-wrapper">
              <div class="player-card">
                <div class="player-avatar">
                  <img src="/img/characters/{{player.character}}-{{player.id|level(user)}}-{{player.skin}}.png" class="img-responsive">
                </div>
                <h4>{{player.name}}</h4>
                <div class="player-rank">{% if player.status != false %}{{player.id|rank(user)}}{% else %}?{% endif %}</div>
                <p>
                  <small>{% if player.status != false %}{{player.id|level(user)|capitalize}}{% if player.points %} - {{player.points}}pts{% endif %}{% else %}Zzzzzz{% endif %}</small>
                </p>
                <p>
                  <a href="/player/edit/{{player.id}}" class="btn btn-sm btn-primary">Edit</a>
                </p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="row text-center">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="spacer spacer-sm"></div>
    <p>
      You don't have any players or only to play alone. Start to add some into your account !
    </p>
    <div class="spacer spacer-sm"></div>
    <a href="/player/add" class="btn btn-lg btn-primary">Add player</a>
    <div class="spacer"></div>
  </div>
</div>
{% endif %}


{% endblock %}
