<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Clegane{% endblock %}</title>
    <link href="/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="/js/polyfills.min.js"></script>
    <![endif]-->
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Clegane</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if isAuthenticated %}

          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if !isAuthenticated %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
          {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% if flashes %}
      <div class="messages">
        {% if flashes.error %}
          <div class="alert alert-danger" role="alert">{{ flashes.error }} {{ flashes.truc }}</div>
        {% endif %}
        {% if flashes.success %}
          <div class="alert alert-success" role="alert">{{ flashes.success }}</div>
        {% endif %}
        {% if flashes.info %}
          <div class="alert alert-info" role="alert">{{ flashes.info }}</div>
        {% endif %}
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
  <script src="/js/vendors.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
