{% extends 'layout.html' %}
{% import 'components/thumbnails.html' as thumbnail %}

{% block wrapper-class %}{% endblock %}

{% block content %}
  <div style="max-height:400px;overflow:hidden;">
    <img src="{{api.images}}{{movie.backdrop_path}}" class="img-responsive">
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">

        <img src="{{api.images}}{{movie.poster_path}}" class="img-responsive">
        <br>

        <ul class="list-unstyled">
          <li><b>Release</b> :<br> {{movie.release_date}}</li>
          <li><b>Countries</b> :<br> {% for country in movie.production_countries %}{{country.name}}{% if not loop.last %}, {% endif %}{% endfor %}</li>
        </ul>
        <br>

        {% if keywords %}
          {% for keyword in keywords %}
            <a href="/tags/{{keyword.id}}">{{keyword.name}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-sm-8">

        <h1>
          {{movie.title}} <small class="text-muted">({{movie.original_title}})</small>
        </h1>

        <p class="lead">“{{movie.tagline}}”</p>

        {% for genre in movie.genres %}
          <a href="/genres/{{genre.id}}">
            {{genre.name}}
          </a>
          {% if not loop.last %} | {% endif %}
        {% endfor %}
        <br>

        <br>
        <a href="http://www.imdb.com/title/{{movie.imdb_id}}">IMDB</a>
        <br><br>

        <p>{{movie.overview}}</p>

        <br>
        {% if videos %}
          {% for video in videos %}
            {% if video.site === 'YouTube' && loop.key === 0 %}
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{video.key}}" frameborder="0" allowfullscreen></iframe>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

      </div>
    </div>

    <hr>

    <h2>Cast</h2>
    <div class="row">
      {% for cast in credits.cast %}
        {% if loop.key <= 3 %}
        <div class="col-sm-3">
          {{ thumbnail.cast(cast) }}
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <hr>

    {% if similar.length %}
    <h2>Similar</h2>
    <div class="row">
      {% for movie in similar %}
        {% if loop.key <= 3 %}
          <div class="col-sm-3">
            {{ thumbnail.movie(movie) }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

  </div>
{% endblock %}
