{% extends 'layout.html' %}
{% import 'components/atoms/pictures.html' as picture %}
{% import 'components/molecules/thumbnails.html' as thumbnail %}

{% block wrapper-class %}{% endblock %}

{% block content %}
  {% if images[0] %}
    <div class="cover">
      {{picture.default(images[0].file_path, 5, 2.38, 'center', 'img-responsive', people.name)}}
      <div class="cover-avatar">
        {{picture.default(people.profile_path, 1, 1, 'center', 'img-responsive img-circle', people.name)}}
      </div>
    </div>
  {% endif %}
  <div class="content-container content-container-people">
    <div class="whity">
      {% if images[0] %}
      <div class="spacer"></div>
      {% else %}
        {% if people.profile_path %}
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  {{picture.default(people.profile_path, 1, 1, 'center', 'img-responsive img-circle', people.name)}}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}

      <div class="text-center">
        <h1>{{people.name}}</h1>
        <p>{{people.birthday}}{% if people.imdb_id %} - <a href="http://www.imdb.com/name/{{people.imdb_id}}">IMDB</a>{% endif %}</p>
      </div>
      <div class="spacer spacer-sm"></div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p>{{people.biography}}</p>
        </div>
      </div>

    </div>

    <hr>

    <h2>Cast</h2>
    <div class="row">
      {% for movie in credits.cast %}
        {% if loop.key <= 3 %}
        <div class="col-sm-3">
          {% if movie.media_type === 'movie' %}
            {{ thumbnail.movie(movie) }}
          {% else %}
            {{ thumbnail.tv(movie) }}
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
{% endblock %}
