{% extends 'layout.html' %}
{% import 'components/molecules/thumbnails.html' as thumbnail %}

{% block wrapper-class %}{% endblock %}

{% block content %}
  <div style="max-height:400px;overflow:hidden;">
    {% if images[0] %}
    <img src="{{api.images}}{{images[0].file_path}}" class="img-responsive">
    {% endif %}
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">

        <img src="{{api.images}}{{person.profile_path}}" class="img-responsive">

      </div>
      <div class="col-sm-8">

        <h1>
          {{person.name}}
        </h1>

        <p class="lead">{{person.birthday}}</p>

        <a href="http://www.imdb.com/name/{{person.imdb_id}}">IMDB</a>
        <br><br>


        <p>{{person.biography}}</p>

      </div>
    </div>

    <hr>

    <h2>Cast</h2>
    <div class="row">
      {% for movie in credits.cast %}
        {% if loop.key <= 3 %}
        <div class="col-sm-3">
          {% if movie.media_type === 'movie' %}
            {{ thumbnail.movie(movie) }}
          {% else %}
            {{ thumbnail.tv(movie) }}
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
{% endblock %}
