{% extends 'layout.html' %}
{% import 'components/atoms/pictures.html' as picture %}
{% import 'components/molecules/thumbnails.html' as thumbnail %}
{% import 'components/organisms/cast.html' as cast %}

{% block wrapper-class %}{% endblock %}

{% block content %}
  <div class="cover">
    {{picture.default(tv.backdrop_path, 5, 2.38, 'center', 'img-responsive img-full', tv.title)}}
    <div class="cover-content">
      <div class="content-container">
        <div class="row">
          <div class="col-sm-3">
            <div class="poster-wrapper">
              {{picture.default(tv.poster_path, 1, 0.66, 'none', 'img-responsive', tv.title)}}

              <ul class="list-unstyled">
                {% if tv.first_air_date %}
                  <li>
                    <h4>Release</h4>
                    {{tv.first_air_date}}
                  </li>
                {% endif %}
                {% if tv.production_countries %}
                  <li>
                    <h4>Countries</h4>
                    {% for country in tv.origin_country %}{{country.name}}{% if not loop.last %}, {% endif %}{% endfor %}
                  </li>
                {% endif %}
                {% if keywords %}
                  <li>
                    <h4>Keywords</h4>
                    {% for keyword in keywords %}
                      <a href="/tag/{{keyword.id}}/1">{{keyword.name}}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                  </li>
                {% endif %}
                {% if ids.imdb_id %}
                  <li>
                    <h4>Links</h4>
                    <a href="http://www.imdb.com/title/{{ids.imdb_id}}">IMDB</a>
                  </li>
                {% endif %}
              </ul>

            </div>
          </div>
          <div class="col-sm-9">
            <h3>TV Show</h3>
            <h1>
              {{tv.name}}
              {% if tv.name != tv.original_name %}
                <small>({{tv.original_name}})</small>
              {% endif %}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">

        <div class="whity">
          <p>
            {% for genre in tv.genres %}
              <a href="/genre/{{genre.id}}/1">
                {{genre.name}}
              </a>
              {% if not loop.last %} | {% endif %}
            {% endfor %}
          </p>

          <p>{{tv.overview}}</p>
        </div>

        {% if videos %}
          {% for video in videos %}
            {% if video.site === 'YouTube' && loop.key === 0 %}
              <div class="embed-responsive embed-responsive-16by9">
{#                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{video.key}}" frameborder="0" allowfullscreen></iframe>
 #}              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% include "./components/organisms/episodes.html" %}
  </div>


  <div class="content-container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <div class="whity">
          <h2>Cast</h2>
          {{cast.default(credits)}}
        </div>
      </div>
    </div>

    <div class="spacer"></div>

    {% if similar.length %}
    <h2 class="text-inverse">Similar TV Shows</h2>
    <div class="spacer spacer-xs"></div>
    <div class="row">
      {% for tv in similar %}
        {% if loop.key <= 4 %}
          <div class="col-sm-5">
            {{ thumbnail.tv(tv) }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

  </div>
  {% include "./components/organisms/photoswipe-wrapper.html" %}
{% endblock %}
