{% extends '../layout.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Settings</h1>
    <br>
    <form action="/settings" method="post">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="{{ user.username }}" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{ user.email }}" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="password">New password :</label>
        <input type="password" name="password" id="password" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
