<script type="text/ng-template" id="modal-list.html">
  <div class="modal-body" ng-init="modal.init(
      '{{user.key}}',
      '{% if movie.id %}{{movie.id}}{% elseif people.id %}{{people.id}}{% elseif tv.id %}{{tv.id}}{% endif %}',
      '{% if movie.id %}{{movie.title}}{% elseif people.id %}{{people.name}}{% elseif tv.id %}{{tv.name}}{% endif %}',
      '{% if movie.id %}movie{% elseif people.id %}people{% elseif tv.id %}tv{% endif %}',
      '{% if movie.imdb_id %}{{movie.imdb_id}}{% elseif people.imdb_id %}{{people.imdb_id}}{% elseif tv.imdb_id %}{{tv.imdb_id}}{% endif %}'
    )">
    <button class="btn btn-primary btn-corner" ng-click="modal.close()">
      <i class="cleganicon cleganicon-close"></i>
    </button>
    <h2>Add to lists</h2>
    <div class="checkbox" ng-repeat="(key, list) in modal.lists">
      <label>
        <input type="checkbox" ng-model="list.exist" ng-change="modal.update(list.id, list.exist)">[[list.name]]
      </label>
    </div>
    <div class="spacer spacer-sm"></div>
    <h3>New list</h3>
    <form ng-submit="modal.add()" class="search-form">
      <div class="form-group">
        <div class="input-group">
          <input type="text" ng-model="modal.newlist" class="form-control" placeholder="Pick a name">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-primary"><b>+</b></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</script>
