<form ng-submit="search.submit()" class="search-form">
  <div class="form-group">
    <div class="input-group">

      <input
        type="text"
        name="keywords"
        autocomplete="off"
        ng-model="search.keywords"
        placeholder="Movie, TV Show, People,..."
        typeahead="data as data.display for data in search.getResults($viewValue)"
        typeahead-loading="loadingResults"
        typeahead-no-results="noResults"
        typeahead-template-url="result-template.html"
        typeahead-on-select="search.onSelect($item, $model, $label)"
        typeahead-wait-ms="100"
        class="form-control"
        >

      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-class="noResults ? 'btn-danger' : 'btn-primary'">
          <i ng-hide="loadingResults || noResults" class="glyphicon glyphicon-search"></i>
          <i ng-show="loadingResults" class="glyphicon glyphicon-refresh"></i>
          <i ng-show="noResults" class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </div>
  </div>
</form>

<script type="text/ng-template" id="result-template.html">
  <a href="/[[match.model.media_type]]/[[match.model.id]]">
    <strong ng-if="match.model.title">
      [[match.model.title]]
    </strong>
    <strong ng-if="match.model.name">
      [[match.model.name]]
    </strong>
    <span ng-if="match.model.release_date">
     <b class="text-primary"> - </b>[[match.model.release_date|year]]
    </span>
    <span ng-if="match.model.first_air_date">
     <b class="text-primary"> - </b>[[match.model.first_air_date|year]]
    </span>
    <!-- <span ng-if="match.model.original_title">
      ([[match.model.original_title]])
    </span>
    <span ng-if="match.model.original_name">
      ([[match.model.original_name]])
    </span> -->
  </a>
</script>
