{% import '../atoms/pictures.html' as picture %}

{% macro movie(content) %}
<a href="/movie/{{content.id}}">
  <img src="{{api.images}}{{content.poster_path}}" class="img-responsive">
  <h3>{{content.title}}</h3>
</a>
{% endmacro %}

{% macro tv(content) %}
<a href="/tv/{{content.id}}">
  <img src="{{api.images}}{{content.poster_path}}" class="img-responsive">
  <h3>{{content.name}}</h3>
</a>
{% endmacro %}

{% macro cast(content) %}
<div class="cast-thumb">
  {% if content.profile_path %}
  <a href="/people/{{content.id}}">
    {% set profile = api.images + content.profile_path %}
    {{picture.default(profile, 1, 0.66, 'none', 'img-responsive', content.name)}}
  </a>
  {% endif %}
  <a href="/people/{{content.id}}">
    <h4>{{content.name}}</h4>
  </a>
  <small>{{content.character}}</small>
</div>
{% endmacro %}
