{% macro movie(content) %}
<a class="thumb" href="/movie/{{content.id}}">
  {{picture.default(content.poster_path, 1, 0.66, 'none', 'img-responsive', content.title)}}
  <span class="thumb-info">
    <h5>{{content.media_type}}</h5>
    <h3>{{content.title}}</h3>
  </span>
</a>
{% endmacro %}

{% macro tv(content) %}
<a class="thumb" href="/tv/{{content.id}}">
  {{picture.default(content.poster_path, 1, 0.66, 'none', 'img-responsive', content.name)}}
  <span class="thumb-info">
    <h5>{{content.media_type}}</h5>
    <h3>{{content.name}}</h3>
  </span>
</a>
{% endmacro %}

{% macro cast(content) %}
<div class="cast-thumb">
  {% if content.profile_path %}
  <a href="/people/{{content.id}}">
    {{picture.default(content.profile_path, 1, 0.66, 'none', 'img-responsive', content.name)}}
  </a>
  {% endif %}
  <a href="/people/{{content.id}}">
    <h4>{{content.name}}</h4>
  </a>
  <small>{{content.character}}</small>
</div>
{% endmacro %}
