.item.item-input {
  border: none;
  padding-left: 0;
  padding-right: 0;
  input {
    background: $white;
    padding: 4px 10px;
  }
}

.item.item-checkbox {
  background: transparent;
  border: none;
}

::-webkit-input-placeholder {
  color: $silver-chalice;
  font-style: italic;
}
:-moz-placeholder {
  color: $silver-chalice;
  font-style: italic;
}
::-moz-placeholder {
  color: $silver-chalice;
  font-style: italic;
}
:-ms-input-placeholder {
  color: $silver-chalice;
  font-style: italic;
}

