body {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  small {
    font-size: 1em;
    font-weight: 200;
    color: $black;
  }
}

h5, h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    text-decoration: none;
  }
  .librairies & {
    color: $black;
    &:hover {color: $supernova;}
  }
}

p.lead {
  margin-bottom: 13px;
}

.text-inverse {color: $white;}
