@charset 'UTF-8';

button {
  &:hover { cursor: pointer; }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0;
  text-decoration: none;
  transition:
    color 0.3s,
    background 0.3s,
    border-color 0.3s;

  .icon {
    position: relative;
    top: 0.08em;
    left: 0.08em;
  }
}

.btn-main {
  background: $electric-violet;
  color: $white;
  &:hover { background: darken($electric-violet, 10%); }
}

.btn-default {
  border: 1px solid $supernova;
  color: $white;

  &.active,
  &:hover {
    border-color: $tangerine;
    color: $supernova;
  }
}
