@charset 'UTF-8';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 275px;
  height: 100vh;
  background: $gallery;
  overflow-y: auto;
}

.sidebar-nav {
  padding: 0.5em * $gr;

  h5 {
    margin: 1em 0 0.3em;
    font-weight: 300;
    color: $scorpion;
  }
}

.brand {
  display: block;
  height: 100px;
  background: $supernova;
  font-size: 4em;
  text-align: center;
  line-height: 117px;
  color: $black;
}

.link-iconed {
  display: block;
  position: relative;
  margin: 0.35em 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 2.2em;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: $cod-gray;
  transition: color 0.3s;
  &:hover { color: $electric-violet; }

  .icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -0.05em;
    left: 0;
    height: 100%;
    font-size: 1em;

    &:before {
      display: block;
      width: 1.5em;
      text-align: center;
    }
  }
}
