@charset 'UTF-8';

* { box-sizing: border-box; }

body {
  background: $cod-gray;
}

.main-container {
  padding-left: 275px;
  color: $white;
}

.bg-white {
  padding: $gutter-width * 2;
  background: $white;
  color: $cod-gray;

  > p:first-child { margin-top: 0; }
}

.visible-mobile {
  /* stylelint-disable declaration-no-important */
  /* It has to be immutable */
  display: none !important;
  @media screen and (max-width: $mobile) { display: block !important; }
  /* stylelint-enable declaration-no-important */
}

.pull-right { float: right; }
.pull-left { float: left; }
