@charset 'UTF-8';

* { box-sizing: border-box; }

body {
  background: $cod-gray;
}

.main-container {
  padding-left: 275px;
  color: $white;
}

.visible-mobile {
  /* stylelint-disable declaration-no-important */
  /* It has to be immutable */
  display: none !important;
  @media screen and (max-width: $mobile) { display: block !important; }
  /* stylelint-enable declaration-no-important */
}
