@charset 'UTF-8';

html {
  font-family: $main-font;
  font-size: $base;
}

body {
  line-height: 1em * $gr;
  font-weight: 300;
  font-smoothing: antialiased;
  word-wrap: break-word;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-stretch: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0 0.3em;
  line-height: 1.1em;
  font-weight: 500;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 0.9em; }
h6 { font-size: 0.8em; }

b,
strong { font-weight: 700; }

a {
  font-weight: 400;
  color: $electric-violet;
  transition: color 0.3s;
  text-decoration: none;
  &:hover { color: darken($electric-violet, 15%); }
}

p {
  margin: 0.8em 0;
}

ul.list-unstyled {
  padding: 0;
  li { list-style-type: none; }
  h4 { margin: 1em 0 0.1em; }
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.icon {
  padding-right: 0.6em;
  font-size: 0.8em;
}
