@charset 'UTF-8';

html {
  font-family: $main-font;
  font-size: $base;
}

body {
  font-weight: 300;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 0.9em; }
h6 { font-size: 0.8em; }

b,
strong { font-weight: 700; }

a {
  color: $electric-violet;
  text-decoration: underline;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
