{% macro default(tv) %}
<div class="episodes-wrapper" ng-class="{in: episodes.episodeOpen}" ng-controller="EpisodesCtrl as episodes" ng-init="episodes.init({{tv.seasons|length}})">
  <tabset vertical="true" type="tabs">
    {% for season in tv.seasons %}
      {% if season.season_number !== 0 and season.episode_count > 0 %}
        <tab select="episodes.selectSeason({{tv.id}}, {{season.season_number}})">
          <tab-heading>
            s<span ng-hide="episodes.episodeOpen">eason </span>{{season.season_number|zero}}
          </tab-heading>
          <div>
            <tabset vertical="true" type="tabs">
              {% for episode in season.episode_count|numberArray %}
                <tab active="{% if loop.index == 1 %}episodes.seasonOpen[{{season.season_number}}]{% else %}false{% endif %}" select="episodes.selectEpisode({{tv.id}}, {{season.season_number}}, {{loop.index}})">
                  <tab-heading>
                    <span class="watch-toggle">
                      <input type="checkbox" ng-click="episodes.toggleWatch(); $event.stopPropagation();">
                      <i class="cleganicon cleganicon-eye"></i>
                    </span> e<span ng-hide="episodes.episodeOpen">pisode </span>{{loop.index|zero}}
                  </tab-heading>
                  <h3>Season [[episodes.seasonnumber]], Episode [[episodes.number]] : [[episodes.title]] <small>([[episodes.air_date]])</small></h3>
                  <div class="spacer spacer-xs"></div>
                  <div class="episode-gallery">
                    <div class="episode-gallery-container">
                      <div ng-repeat="(key, image) in episodes.images">
                        {{picture.default('[[image.file_path]]', 1, 1.77, 'none', 'img-responsive', 'Season [[episodes.seasonnumber]], Episode [[episodes.number]] : [[episodes.title]]')}}
                      </div>
                    </div>
                  </div>
                  <div class="spacer spacer-sm"></div>
                  <p>
                    [[episodes.description]]
                  </p>
                </tab>
              {% endfor %}
            </tabset>
          </div>
        </tab>
      {% endif %}
    {% endfor %}
  </tabset>
</div>
{% endmacro %}
