<div class="picture-wrapper" style="padding-top: {{100 / ratio}}%;">
  <picture ng-if="src" ng-class="!src ? 'placeholder' : ''">

    <source
      ng-if="size >= 5"
      media="(min-width: 1200px)"
      srcset="{{src|resize:'original':ratio:gravity}} 1x, {{src|resize:'original':ratio:gravity}} 2x">

    <source
      ng-if="size >= 4"
      media="(min-width: 980px)"
      srcset="{{src|resize:'w1280':ratio:gravity}} 1x, {{src|resize:'original':ratio:gravity}} 2x">

    <source
      ng-if="size >= 3"
      media="(min-width: 770px)"
      srcset="{{src|resize:'w1280':ratio:gravity}} 1x, {{src|resize:'original':ratio:gravity}} 2x">

    <source
      ng-if="size >= 2"
      media="(min-width: 401px)"
      srcset="{{src|resize:'w780':ratio:gravity}} 1x, {{src|resize:'w1280':ratio:gravity}} 2x">

    <source
      ng-if="size >= 1"
      srcset="{{src|resize:'w500':ratio:gravity}} 1x, {{src|resize:'w780':ratio:gravity}} 2x">

    <source
      ng-if="size < 1"
      media="(max-width: 400px)"
      srcset="{{src|resize:'w500':ratio:gravity}} 1x, {{src|resize:'w780':ratio:gravity}} 2x">


    <img src="{{src|resize:'w780':ratio:gravity}}" alt="{{alt}}" class="{{class}}">

  </picture>

  <div ng-if="!src" class="placeholder"></div>
</div>
