<a class="item item-thumbnail-left item-icon-right" href="/{{type}}/{{id}}">
  <div class="item-image">
    <clegane-pic
      src="{{img}}"
      size="0"
      ratio="0.66"
      gravity="none"
      class="img-responsive"
      alt="{{title}}"></clegane-pic>
  </div>
  <h2>{{title}}</h2>
  <p>
    <span ng-if="from !== 'discover'">{{type}}<br></span>
    <span ng-if="time">
      <i class="cleganicon cleganicon-eye" ng-if="from === 'watched'"></i>
      <i class="cleganicon cleganicon-add" ng-if="from === 'list'"></i>
      {{time}}
    </span>
  </p>
  <i class="icon ion-ios-arrow-right"></i>
</a>
