<a class="thumb" href="/{{type}}/{{id}}">
  <clegane-pic
    src="{{img}}"
    size="1"
    ratio="0.66"
    gravity="none"
    class="img-responsive"
    alt="{{title}}"></clegane-pic>
  <span class="thumb-info">
    <h3>
      {{title}}
    </h3>
    <h5>
      <span ng-if="from !== 'discover'">
        {{type}}
      </span>
      <span ng-class="from !== 'discover' ? 'pull-right' : ''" ng-if="time">
        <i class="cleganicon cleganicon-eye" ng-if="from === 'watched'"></i>
        <i class="cleganicon cleganicon-add" ng-if="from === 'list'"></i>
        {{time}}
      </span>
    </h5>
  </span>
</a>
